CREATE TABLE User
(
  ID INT NOT NULL,
  FirstName INT NOT NULL,
  LastName INT NOT NULL,
  Title INT NOT NULL,
  Email INT NOT NULL,
  ClassYear INT,
  PRIMARY KEY (ID)
);

CREATE TABLE Event
(
  EventID INT NOT NULL,
  Date INT NOT NULL,
  ID INT NOT NULL,
  PRIMARY KEY (EventID),
  FOREIGN KEY (ID) REFERENCES User(ID) ON DELETE SET NULL ON UPDATE CASCADE
);

CREATE TABLE Club
(
  ClubID INT NOT NULL,
  Members INT NOT NULL,
  ID INT NOT NULL,
  PRIMARY KEY (ClubID),
  FOREIGN KEY (ID) REFERENCES User(ID)
);

CREATE TABLE Hosts
(
  ClubID INT NOT NULL,
  EventID INT NOT NULL,
  PRIMARY KEY (ClubID, EventID),
  FOREIGN KEY (ClubID) REFERENCES Club(ClubID) ON DELETE SET NULL ON UPDATE CASCADE,
  FOREIGN KEY (EventID) REFERENCES Event(EventID) ON DELETE SET NULL ON UPDATE CASCADE
);

CREATE TABLE Event_Items
(
  Items INT NOT NULL,
  EventID INT NOT NULL,
  PRIMARY KEY (Items, EventID),
  FOREIGN KEY (EventID) REFERENCES Event(EventID) ON DELETE SET NULL ON UPDATE CASCADE
);
